<h1>Test Component</h1>
<button (click)="goBack()">Back</button>

<div class="inline" *ngIf="formatters$ | async as formatter">
  <dashboard [columns]="['Name', 'Donuts eaten']" [data]="dashboardData" [formatters]="formatter">
    <control-wrapper
      [for]="myChart"
      [type]="filterType"
      [state]="{ lowValue: 3, highValue: 8 }"
      [options]="{ filterColumnLabel: 'Donuts eaten', minValue: 1, maxValue: 10 }"
    ></control-wrapper>
    <google-chart #myChart type="PieChart" [width]="300" [height]="300" [options]="{ pieSliceText: 'value' }">
    </google-chart>
  </dashboard>
  <chart-editor></chart-editor>
  <button (click)="edit(myChart)">Edit</button>

  <chart-wrapper [specs]="chartWrapperSpecs"></chart-wrapper>

  <div>
    <google-chart #editable type="BarChart" [data]="chart.data" [columns]="chart.columnNames"></google-chart>

    <chart-editor></chart-editor>
    <button (click)="edit(editable)">Edit</button>
  </div>
</div>

<google-chart
  title="Resizing Chart"
  style="width: 100%"
  type="BarChart"
  [data]="chart.data"
  [columns]="chart.columnNames"
  [options]="chart.options"
  [dynamicResize]="true"
>
</google-chart>
