version: 2

default: &defaults
  working_directory: ~/angular-google-charts
    docker:
      - image: circleci/node:8-browsers

jobs:
  build:
    <<: *defaults
    steps:
      - checkout
      
      - restore_cache:
          key: angular-google-charts-{{ .Branch }}-{{ checksum "package-lock.json" }}

      - run: npm install

      - save_cache:
          key: angular-google-charts-{{ .Branch }}-{{ checksum "package-lock.json" }}
          paths:
             - node_modules
      
      - persist_to_workspace:
          root: ~/angular-google-charts
          paths: .

  test:
    <<: *defaults
    steps:
      - attach_workspace:
        at: ~/angular-google-charts
      - run: 
        name: Run Tests
        command: npm run test -- angular-google-charts --watch=false --progress=false
          
  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
        at: ~/angular-google-charts
      - run:
        name: Authenticate with registry
        command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/angular-google-charts/.npmrc
      - run:
        name: Publish package
        command: npm publish

workflows:
  version: 2
  test-deploy:
    jobs:
      - build
      - test:
          requires: 
            - build
      - deploy:
          requires:
            - build
            - test
          filters:
            tags:
              only: /^v.*/
            branches:
              only: master