version: 2.1

jobs:
  install:
    working_directory: ~/angular-google-charts
    docker:
      - image: node:12.16.1
    steps:
      - checkout
      - restore_cache:
          keys:
            - node-{{ checksum "package-lock.json" }}
      - run: npm install
      - save_cache:
          key: node-{{ checksum "package-lock.json" }}
          paths:
            - node_modules

  test:
    working_directory: ~/angular-google-charts
    docker:
      - image: node:12.16.1
    steps:
      - checkout
      - restore_cache:
          keys:
            - node-{{ checksum "package-lock.json" }}
      - run:
          name: Run tests
          command: npm run test -- --ci --collectCoverage --reporters default --reporters jest-junit
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: coverage

  deploy:
    working_directory: ~/angular-google-charts
    docker:
      - image: node:12.16.1
    steps:
      - checkout
      - restore_cache:
          keys:
            - node-{{ checksum "package-lock.json" }}
      - run:
          name: Build
          command: npm run build
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/angular-google-charts/dist/angular-google-charts/.npmrc
      - run:
          name: Publish to npm
          command: cd dist/angular-google-charts && npm publish

workflows:
  test-build-deploy:
    jobs:
      - install:
          filters:
            tags:
              only: /.*/
      - test:
          requires:
            - install
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - test
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^^v[0-9]\.[0-9]\.[0-9]$/
